{% extends './base.html' %}
{% block title %}Trang chủ{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Trang chủ">
    <meta name="keywords" content="Trang chủ" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Trang chủ">
    <meta property="og:description" content="Trang chủ">
{% endblock %}
{% block content %}
<main class=" flex flex-col justify-center items-center  grow py-[15px]">
    <div class="w-full lg:w-[1200px] flex flex-col grow gap-3 bg-stone-900 border-[1px] border-stone-800  p-3">
        <div class="flex flex-col">
            <h1 class="text-[22px] text-yellow-500">Contact us :</h1>
            <a href="https://t.me/callgirlvipdubai39" target="_blank">
                Telegram channel: <span class="text-blue-500 hover:underline" >@callgirlvipdubai39</span>
            </a>
            <a id="phone-field" href="https://wa.me/12567936706" target="_blank">
                Whatsapp: <span class="text-blue-500 hover:underline" >+12567936706</span>
            </a>
        </div>
        <div class="flex flex-col w-full">
            <h2 class="text-[22px] text-yellow-500">Deposit USDT :</h2>
            <div class="flex items-center justify-center p-[40px] w-full">
                <img alt="usdt" src="/upload/bitcoin_qr/usdt_bitcoin.jpg" class="w-full lg:w-[300px] h-auto mt-3" />
            </div>
        </div>
        <div class="text-red-500">
            Note: After depositing money, please contact Admin.
        </div>
    </div>
</main>
{% endblock %}