{% extends './base.html' %}
{% block title %}Trang chủ{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Trang chủ">
    <meta name="keywords" content="Trang chủ" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Trang chủ">
    <meta property="og:description" content="Trang chủ">
{% endblock %}
{% block content %}
<main class=" flex flex-col justify-center items-center  grow py-[15px]">
    <div class="w-full lg:w-[1200px] flex flex-col grow gap-3">
        <div class="flex flex-col lg:flex-row gap-[15px] w-full bg-stone-900 border-[1px] border-stone-800  p-3">
            <div class="flex flex-col w-full gap-[15px]">
                <div class="flex flex-col w-full gap-[15px]">
                    <div class="flex w-full justify-center items-center">
                        <img alt="img" class="w-full h-auto cursor-pointer" src="{% if obj_Product.Avatar %}{{obj_Product.Avatar.url|default:''}}{% endif %}" />
                    </div>
                    <span class="font-bold">Photo :</span>
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-[15px]">
                        <a data-fancybox="gallery-image" href="{% if obj_Product.Avatar %}{{obj_Product.Avatar.url|default:''}}{% endif %}" class="w-full h-[180px]">
                            <img alt="img" src="{% if obj_Product.Avatar %}{{obj_Product.Avatar.url|default:''}}{% endif %}"  class="shadow-md  transition w-full h-full object-fill brightness-110" />
                        </a>
                        {% for i in obj_Product.list_photo.all %}
                        <a data-fancybox="gallery-image" href="{{ i.Avatar.url }}" class="w-full h-[180px]">
                            <img alt="img" src="{{ i.Avatar.url }}"  class="shadow-md  transition w-full h-full object-fill brightness-110" />
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex flex-col w-full gap-[15px]">
                    <span class="font-bold">Video :</span>
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-[15px]">
                        {% for i in obj_Product.list_video.all %}
                        <a data-fancybox="gallery-video"  href="{{ i.Video.url }}" class="w-full relative">
                            <video class="shadow-md transition w-full h-auto brightness-110"  muted preload="metadata">
                                <source src="{{ i.Video.url }}" type="video/mp4">
                                Trình duyệt không hỗ trợ video.
                            </video>
                            <div class="absolute inset-0 flex justify-center items-center fill-white ">
                                <svg width="50px" height="50px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                                    <title>play_circle_outline</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="white">
                                        <g id="Outlined" transform="translate(-136.000000, -952.000000)">
                                            <g id="Av" transform="translate(100.000000, 852.000000)">
                                                <g id="Outlined-/-AV-/-play_circle_outline" transform="translate(34.000000, 98.000000)">
                                                    <g>
                                                        <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path d="M10,16.5 L16,12 L10,7.5 L10,16.5 Z M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 Z M12,20 C7.59,20 4,16.41 4,12 C4,7.59 7.59,4 12,4 C16.41,4 20,7.59 20,12 C20,16.41 16.41,20 12,20 Z" id="🔹-Icon-Color" fill="white"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            <div class="flex flex-col gap-[25px] w-full">
                <div class="flex flex-col gap-[10px]  w-full">
                    <span class="uppercase">About me :</span>
                    <p class="text-[#929292] font-bold italic">{{obj_Product.Content}}</p>
                </div>
                <div class="flex flex-col gap-[25px] w-full">
                    <div class="flex flex-col w-full gap-[10px]">
                        <span class="uppercase">Call the place :</span>
                        <div class=" font-bold text-stone-300 text-[16x] w-full  flex flex-col gap-1 ">
                            {% for i in obj_Product.Price_call_in.splitlines %}
                            <div class="flex items-center gap-2 bg-yellow-400/20 p-2">
                                <div class="w-[25px] fill-white">
                                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                </div>
                                <span>
                                    {{i}}
                                </span>
                            </div>
                            {% endfor  %}
                        </div>
                    </div>
                    <div class="flex flex-col w-full gap-[10px]">
                        <span class="uppercase">Call out :</span>
                        <div class=" font-bold text-stone-300 text-[16x] w-full  flex flex-col gap-1 ">
                            {% for i in obj_Product.Price_call_out.splitlines %}
                            <div class="flex items-center gap-2 bg-yellow-400/20 p-2">
                                <div class="w-[25px] fill-white">
                                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                </div>
                                <span>
                                    {{i}}
                                </span>
                            </div>
                            {% endfor  %}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-[10px] w-full">
                    <span class="uppercase">Information :</span>
                    <div class=" font-bold text-stone-300 text-[16x] w-full  flex flex-col gap-1 ">
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Name/stage name: </span>	{{obj_Product.Name}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font bold">Product type (segment):</span>	{{obj_Product.Segment}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Area:</span>	{{obj_Product.Belong_Region.Name}} | {{obj_Product.Belong_Nation.Name}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Call Now:</span>
                            <a href="https://wa.me/{{obj_Product.Phone}}?text={{ message|urlencode }}" target="_blank" class="hover:underline">
                                {{obj_Product.Phone}}
                            </a>
                        </span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Overnight:</span>	{{obj_Product.Overnight}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Year of birth:</span>	{{obj_Product.Year_of_birth}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Height (cm):</span>	{{obj_Product.Height}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Weight (kg):</span>	{{obj_Product.Weight}}</span>
                        <span class="text-yellow-500 font-normal"><span class="text-white font-bold">Three-round measurements:</span>	{{obj_Product.Rounds}}</span>
                        <span class="text-yellow-500 font-normal mt-[20px] flex flex-col gap-[10px]">
                            <span class="text-white uppercase font-normal">
                                Service:
                            </span>
                            {% for line in obj_Product.Service.splitlines %}
                                <div class="flex items-center gap-2">
                                    <svg width="16" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="437.3,30 202.7,339.3 64,200.7 0,264.7 213.3,478 512,94" style="fill: rgb(234, 179, 8);"></polygon>
                                    </svg>
                                    <span>{{ line }}</span>
                                </div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <a id="phone-field" href="https://wa.me/{{obj_Product.Phone}}?text={{ message|urlencode }}" target="_blank" class="fixed bottom-4 right-4 z-50 flex items-center gap-2 px-3 py-2 rounded-full bg-stone-50 text-stone-950 font-bold text-[20px]">
            <svg class="w-[35px]" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                    <g>
                        <g>
                            <path fill="#29D331" d="M32,0c17.7,0,32,14.3,32,32S49.7,64,32,64S0,49.7,0,32S14.3,0,32,0z"></path>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path fill="#FFFFFF" d="M14,20.9c-2.9,4.3,0.6,13.3,8.1,20.9s16.6,11,20.9,8.1c0.2-0.1,0.3-0.2,0.4-0.3l2.9-2.9
                                c0.9-0.9,0.8-2.4-0.2-3.5L41,38.2c-1-1-2.6-1.1-3.5-0.2l-3.4,3.4c-0.3,0.3-0.9,0.4-1.3,0.1c-1.9-1.3-3.7-2.8-5.5-4.6
                                c-1.8-1.8-3.3-3.7-4.6-5.5c-0.3-0.4-0.3-1,0.1-1.3l3.4-3.4c0.9-0.9,0.8-2.4-0.2-3.5l-5.2-5.2c-1-1-2.6-1.1-3.5-0.2l-2.9,2.9
                                C14.2,20.6,14.1,20.8,14,20.9z"></path>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path fill="#FFFFFF" d="M41.1,31.9h-3c0-3.9-3.2-7-7-7v-3C36.6,21.9,41.1,26.4,41.1,31.9z"></path>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path fill="#FFFFFF" d="M47.5,33h-3c0-8-6.5-14.5-14.5-14.5v-3C39.6,15.5,47.5,23.4,47.5,33z"></path>
                        </g>
                    </g>
                </g>
                </svg>
            {{obj_Product.Phone}}
        </a>
    </div>
</main>
{% endblock %}