{% extends './base.html' %}
{% block title %}Filter page{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Filter page">
    <meta name="keywords" content="Filter page" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Filter page">
    <meta property="og:description" content="Filter page">
{% endblock %}
{% block content %}
<main class=" flex flex-col justify-center items-center  grow py-[15px]">
    <div class="w-full lg:w-[1200px] flex flex-col grow gap-3">
        <div class="flex flex-col items-center">
            <h1 class="text-[22px] text-yellow-500">Contact us :</h1>
            <div class="flex flex-col lg:flex-row items-center gap-3 mt-1">
                <a href="https://t.me/callgirlvipdubai39" target="_blank">
                Telegram channel: <span class="text-blue-500 hover:underline" >@callgirlvipdubai39</span>
                </a>
                <span class="hidden lg:flex">|</span>
                <a id="phone-field" href="https://wa.me/12567936706" target="_blank">
                    Whatsapp: <span class="text-blue-500 hover:underline" >+12567936706</span>
                </a>
            </div>
        </div>
        <!-- <div class="hidden lg:flex flex-col gap-1 ">
            <span class="uppercase font-bold">Thông tin tìm kiếm:</span>
            <div class="flex gap-2 text-stone-400">
                <span>Keywords : {{s}}</span>
                |
                <span>Segment : {{lv}}</span>
                |
                <span>Region : {{obj_r.Name}}</span>
                |
                <span>Nation : {{obj_n.Name}}</span>
            </div>
        </div> -->
        <div class=" w-full  flex flex-col divide-y-[1px] divide-stone-700 bg-stone-900 grow border-[1px] border-stone-800">
            <div class=" w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[15px] p-[15px] divide-y-[1px] divide-stone-700 bg-stone-900 ">
                {% for i in list_Product %}
                <a href="{% url 'detail_client' pk=i.uuid %}" class="flex flex-col justify-between gap-2 w-full ">
                    <div class="w-full h-[450px] overflow-hidden swiper-container-{{ forloop.counter }}"
                        onmouseenter="startSwiper('{{ forloop.counter }}')" 
                        onmouseleave="stopSwiper('{{ forloop.counter }}')">
                        
                        <div class="swiper mySwiper-{{ forloop.counter }} w-full h-full">
                            <div class="swiper-wrapper w-full h-full">
                                <div class="swiper-slide w-full h-full">
                                    <img src="{% if i.Avatar %}{{i.Avatar.url|default:''}}{% endif %}" alt="img" class="w-full h-full object-cover">
                                </div>
                                {% for photo in i.list_photo.all %}
                                <div class="swiper-slide w-full h-full">
                                    <img src="{{ photo.Avatar.url }}" alt="img" class="w-full h-full object-cover">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-1 w-full h-auto text-yellow-600">
                        <p class="font-bold text-[18px]">{{i.Name}}</p>
                        <p class="font-bold text-[14px] text-yellow-800">{{i.Belong_Region.Name}} | {{i.Belong_Nation.Name}}</p>
                        <p class="text-[14px] h-[80px] overflow-hidden font-medium text-white">{{i.Content}}</p>
                        <div class="flex items-center gap-2 mt-[10px] font-bold text-[18px]">
                            <div id="phone-field" onclick="window.open('https://wa.me/{{ i.Phone }}?text={{ message|urlencode }}', '_blank')" class="flex items-center text-white gap-2">
                                <svg class="w-[28px] fill-yellow-500" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="" d="M32,0c17.7,0,32,14.3,32,32S49.7,64,32,64S0,49.7,0,32S14.3,0,32,0z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g class="fill-stone-900">
                                                <path fill="" d="M14,20.9c-2.9,4.3,0.6,13.3,8.1,20.9s16.6,11,20.9,8.1c0.2-0.1,0.3-0.2,0.4-0.3l2.9-2.9
                                                    c0.9-0.9,0.8-2.4-0.2-3.5L41,38.2c-1-1-2.6-1.1-3.5-0.2l-3.4,3.4c-0.3,0.3-0.9,0.4-1.3,0.1c-1.9-1.3-3.7-2.8-5.5-4.6
                                                    c-1.8-1.8-3.3-3.7-4.6-5.5c-0.3-0.4-0.3-1,0.1-1.3l3.4-3.4c0.9-0.9,0.8-2.4-0.2-3.5l-5.2-5.2c-1-1-2.6-1.1-3.5-0.2l-2.9,2.9
                                                    C14.2,20.6,14.1,20.8,14,20.9z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g class="fill-stone-900">
                                                <path  d="M41.1,31.9h-3c0-3.9-3.2-7-7-7v-3C36.6,21.9,41.1,26.4,41.1,31.9z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g class="fill-stone-900">
                                                <path  d="M47.5,33h-3c0-8-6.5-14.5-14.5-14.5v-3C39.6,15.5,47.5,23.4,47.5,33z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <span>{{i.Phone}}</span>
                            </div>
                            <div class="flex items-center gap-2 p-2">
                                <div class="w-[28px] fill-white">
                                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                </div>
                                <span class="text-white whitespace-nowrap">
                                    {{i.Price_call_out.splitlines.0}}
                                </span>
                            </div>
                        </div>
                        <!-- <p class="font-bold text-[18px]">{{i.Phone}}</p> -->
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<script>
    const swipers = {}; // chứa tất cả swiper
  
    document.addEventListener("DOMContentLoaded", function () {
      const total = {{ list_Product|length }};
      for (let i = 1; i <= total; i++) {
        swipers[i] = new Swiper(".mySwiper-" + i, {
          loop: true,
          autoplay: {
            delay: 1000,
            disableOnInteraction: false,
          },
          speed: 600,
          effect: "fade",
          fadeEffect: { crossFade: true },
        });
  
        swipers[i].autoplay.stop(); // ban đầu dừng
      }
    });
  
    function startSwiper(id) {
      if (swipers[id]) {
        swipers[id].autoplay.start();
      }
    }
  
    function stopSwiper(id) {
      if (swipers[id]) {
        swipers[id].autoplay.stop();
        swipers[id].slideToLoop(0); // về ảnh đầu tiên
      }
    }
  </script>
{% endblock %}