{% extends './base.html' %}
{% block title %}Trang chủ{% endblock %}
{% block seo_tag %}
    <meta name="description" content="Trang chủ">
    <meta name="keywords" content="Trang chủ" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="Trang chủ">
    <meta property="og:description" content="Trang chủ">
{% endblock %}
{% block content %}
<main class=" flex flex-col justify-center items-center  grow py-[15px]">
    <div class="w-full lg:w-[1200px] flex flex-col grow gap-3">
        <div class="hidden lg:flex flex-col gap-1 ">
            <span class="uppercase font-bold">Thông tin tìm kiếm:</span>
            <div class="flex gap-2 text-stone-400">
                <span>Keywords : {{s}}</span>
                |
                <span>Segment : {{lv}}</span>
                |
                <span>Region : {{obj_r.Name}}</span>
                |
                <span>Nation : {{obj_n.Name}}</span>
            </div>
        </div>
        <div class=" w-full  flex flex-col divide-y-[1px] divide-stone-700 bg-stone-900 grow border-[1px] border-stone-800">
            <div class=" w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-[15px] p-[15px] divide-y-[1px] divide-stone-700 bg-stone-900 ">
                {% for i in list_Product %}
                <a href="{% url 'detail_client' pk=i.uuid %}" class="flex flex-col justify-between gap-2">
                    <div class="w-full h-auto rounded border-[2px] border-yellow-100 overflow-hidden">
                        <img alt="img" src="{{i.list_photo.all.first.Avatar.url|default:''}}" class="w-full h-auto" >
                    </div>
                    <div class="flex flex-col gap-1 w-full h-auto text-yellow-600 text-center">
                        <p class="font-bold text-[18px]">{{i.Name}}</p>
                        <p class="font-bold text-[18px]">{{i.Phone}}</p>
                        <p class="font-bold text-[14px] text-yellow-800">{{i.Belong_Region.Name}} | {{i.Belong_Nation.Name}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}