{% extends './base.html' %}
{% block title %}Product edit{% endblock %}
{% block content %}
<div class="w-full flex-col min-h-screen h-full">
    <div class="flex flex-col lg:flex-row items-center  lg:justify-between border-b-[1px] border-[#0e203c] lg:max-h-[50px] px-3 py-2 font-bold">
        <span class="uppercase w-full flex justify-center lg:justify-start">
            Staff Edit Page
        </span>
        <div class="flex items-center gap-3 max-h-[60px] lg:max-h-none">
            <div class="flex items-center justify-center rounded-full border-[1px] border-[#0e203c] px-2">
                <input class="font-medium text-sm" placeholder="Search"
                    style="border: none !important; outline: none !important; background: transparent;" />
                <svg class="w-[25px]" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                    <g>
                        <path
                            d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z">
                        </path>
                    </g>
                </svg>
            </div>
            <a href="{% url 'product_add_admin' %}">
                <svg class="w-[35px] fill-[#0e203c]" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="438.533px" height="438.533px"
                    viewBox="0 0 438.533 438.533" style="enable-background:new 0 0 438.533 438.533;"
                    xml:space="preserve">
                    <g>
                        <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0
                            c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267
                            c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407
                            s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062
                            C438.533,179.485,428.732,142.795,409.133,109.203z M347.179,237.539c0,4.948-1.811,9.236-5.428,12.847
                            c-3.62,3.614-7.901,5.428-12.847,5.428h-73.091v73.084c0,4.948-1.813,9.232-5.428,12.854c-3.613,3.613-7.897,5.421-12.847,5.421
                            h-36.543c-4.948,0-9.231-1.808-12.847-5.421c-3.617-3.621-5.426-7.905-5.426-12.854v-73.084h-73.089
                            c-4.948,0-9.229-1.813-12.847-5.428c-3.616-3.61-5.424-7.898-5.424-12.847v-36.547c0-4.948,1.809-9.231,5.424-12.847
                            c3.617-3.617,7.898-5.426,12.847-5.426h73.092v-73.089c0-4.949,1.809-9.229,5.426-12.847c3.616-3.616,7.898-5.424,12.847-5.424
                            h36.547c4.948,0,9.233,1.809,12.847,5.424c3.614,3.617,5.428,7.898,5.428,12.847v73.089h73.084c4.948,0,9.232,1.809,12.847,5.426
                            c3.617,3.615,5.428,7.898,5.428,12.847V237.539z"></path>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>
            </a>
        </div>
        <style>
            input:focus {
                outline: none !important;
            }
        </style>
    </div>
    <div class="flex gap-3 items-start justify-center  h-full w-full p-[15px] lg:p-none">
        <div class="hidden lg:flex flex-col gap-2 items-center justify-start h-full w-[200px] pt-[50px]">
            {% for i in obj_Product.list_video.all %}
            <a data-fancybox="gallery-video" href="{{ i.Video.url }}" class="relative w-full">
                <video class="shadow-md transition w-full h-auto brightness-110"  muted preload="metadata">
                    <source src="{{ i.Video.url }}" type="video/mp4">
                    Trình duyệt không hỗ trợ video.
                </video>
                <div class="absolute inset-0 flex justify-center items-center fill-white">
                    <svg width="50px" height="50px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                        <title>play_circle_outline</title>
                        <desc>Created with Sketch.</desc>
                        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="white">
                            <g id="Outlined" transform="translate(-136.000000, -952.000000)">
                                <g id="Av" transform="translate(100.000000, 852.000000)">
                                    <g id="Outlined-/-AV-/-play_circle_outline" transform="translate(34.000000, 98.000000)">
                                        <g>
                                            <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M10,16.5 L16,12 L10,7.5 L10,16.5 Z M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 Z M12,20 C7.59,20 4,16.41 4,12 C4,7.59 7.59,4 12,4 C16.41,4 20,7.59 20,12 C20,16.41 16.41,20 12,20 Z" id="🔹-Icon-Color" fill="white"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="flex flex-col items-center">
            <div class="grid grid-cols-2 lg:hidden flex-col gap-2 items-center justify-start h-full w-full">
                {% if obj_Product.Avatar %}
                <a data-fancybox="gallery-image" href="{{ obj_Product.Avatar.url }}" class="relative w-full">
                    <img alt="image" src="{{ obj_Product.Avatar.url }}"  class="w-full h-[280px] object-fill" />
                    <span class="absolute top-2 left-2 bg-black bg-opacity-50 p-3 text-white uppercase font-bold">Avatar</span>
                </a>
                {% endif %}
                {% for i in obj_Product.list_photo.all %}
                <a data-fancybox="gallery-image" href="{{ i.Avatar.url }}" class="w-full">
                    <img alt="image" src="{{ i.Avatar.url }}"  class="w-full h-[280px] object-fill" />
                </a>
                {% endfor %}
            </div>
            <div class="grid grid-cols-2 lg:hidden flex-col gap-2 items-center justify-start h-full w-full mt-2">
                {% for i in obj_Product.list_video.all %}
                <a data-fancybox="gallery-video" href="{{ i.Video.url }}" class="relative w-full h-full">
                    <video class="shadow-md transition w-full h-full brightness-110"  muted preload="metadata">
                        <source src="{{ i.Video.url }}" type="video/mp4">
                        Trình duyệt không hỗ trợ video.
                    </video>
                    <div class="absolute inset-0 flex justify-center items-center fill-white">
                        <svg width="50px" height="50px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                            <title>play_circle_outline</title>
                            <desc>Created with Sketch.</desc>
                            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="white">
                                <g id="Outlined" transform="translate(-136.000000, -952.000000)">
                                    <g id="Av" transform="translate(100.000000, 852.000000)">
                                        <g id="Outlined-/-AV-/-play_circle_outline" transform="translate(34.000000, 98.000000)">
                                            <g>
                                                <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                                <path d="M10,16.5 L16,12 L10,7.5 L10,16.5 Z M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 Z M12,20 C7.59,20 4,16.41 4,12 C4,7.59 7.59,4 12,4 C16.41,4 20,7.59 20,12 C20,16.41 16.41,20 12,20 Z" id="🔹-Icon-Color" fill="white"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </a>
                {% endfor %}
            </div>
            <form method="post" action="{% url 'product_edit_admin' pk=obj_Product.uuid %}" enctype="multipart/form-data" class="flex flex-col  items-center w-[500px] gap-3 pt-[20px]">
                {% csrf_token %}
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Name
                    </label>
                    <div class="flex gap-3 items-center mt-1 w-full">
                        <input type="text" value="{{obj_Product.Name}}" name="Name"  class="rounded-md w-full"  />
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Phone number
                    </label>
                    <div class="flex gap-3 items-center mt-1 w-full">
                        <input  value="{{obj_Product.Phone}}" name="Phone"  class="rounded-md w-full"  />
                    </div>
                </div>
                <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-2">
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            Segment
                        </label>
                        <div class="flex gap-3 items-center mt-1 w-full">
                            <select name="Segment" class="rounded-md w-full">
                                <option value="High-class" {% if obj_Product.Segment == 'High-class' %}selected{% endif %}>High-class</option>
                                <option value="Medium" {% if obj_Product.Segment == 'Medium' %}selected{% endif %}>Medium</option>
                                <option value="Popular" {% if obj_Product.Segment == 'Popular' %}selected{% endif %}>Popular</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            Overnight
                        </label>
                        <div class="flex gap-3 items-center mt-1 w-full">
                            <select name="Overnight" class="rounded-md w-full">
                                <option value="No" {% if obj_Product.Overnight == 'No' %}selected{% endif %}>No</option>
                                <option value="Yes" {% if obj_Product.Overnight == 'Yes' %}selected{% endif %}>Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="w-full grid grid-cols-1 lg:grid-cols-4 gap-2">
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            Year of birth
                        </label>
                        <div class="flex gap-3 items-center mt-1 w-full">
                            <input type="number" value="{{obj_Product.Year_of_birth}}" name="Year_of_birth" placeholder="" class="rounded-md w-full"  />
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            Height
                        </label>
                        <div class="flex gap-3 items-center mt-1 w-full">
                            <input type="number" value="{{obj_Product.Height}}" name="Height" placeholder="" class="rounded-md w-full"  />
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            Weight
                        </label>
                        <div class="flex gap-3 items-center mt-1 w-full">
                            <input type="number" value="{{obj_Product.Weight}}" name="Weight" placeholder="" class="rounded-md w-full"  />
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            3 round
                        </label>
                        <div class="flex gap-3 items-center mt-1 w-full">
                            <input value="{{obj_Product.Rounds}}" name="Rounds" placeholder="" class="rounded-md w-full"  />
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Service
                    </label>
                    <div class="flex flex-col gap-3 items-center mt-1 w-full">
                        <div class="flex items-center gap-1 w-full">
                            <textarea name="Service"  class="rounded-md w-full h-[150px] p-3"  >{{obj_Product.Service}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Describe
                    </label>
                    <div class="flex flex-col gap-3 items-center mt-1 w-full">
                        <div class="flex items-center gap-1 w-full">
                            <textarea name="Content"  class="rounded-md w-full h-[150px] p-3"  >{{obj_Product.Content}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Price to call in
                    </label>
                    <div class="flex flex-col gap-3 items-center mt-1 w-full">
                        <textarea name="Price_call_in" class="rounded-md w-full h-[150px] p-3" >{{obj_Product.Price_call_in}}</textarea>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center w-full">
                    <label class="font-semibold">
                        Price to call out
                    </label>
                    <div class="flex flex-col gap-3 items-center mt-1 w-full">
                        <textarea name="Price_call_out" class="rounded-md w-full h-[150px] p-3" >{{obj_Product.Price_call_out}}</textarea>
                    </div>
                </div>
                <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-2">
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold whitespace-normal">
                            Activity area
                        </label>
                        <select id="large-area" name="Belong_Region" class="rounded-md w-full mt-1">
                            {% for i in list_Region %}
                            <option value="{{i.id}}" {% if obj_Product.Belong_Region.id == i.id %}selected{% endif %}>{{i.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex flex-col justify-center items-center w-full">
                        <label class="font-semibold">
                            Nation
                        </label>
                        <select  name="Belong_Nation" class="rounded-md w-full mt-1">
                            {% for i in list_Nation %}
                            <option value="{{i.id}}" {% if obj_Product.Belong_Nation.id == i.id %}selected{% endif %}>{{i.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="flex justify-center items-center gap-1 bg-white p-2 rounded-md border-[1px] border-[#6b7280] w-full">
                    <div class="flex flex-col justify-center items-center">
                        <label class="font-semibold">
                            Avatar
                        </label>
                        <input type="file" class="rounded-md w-full"  accept="image/*" name="Avatar"  />
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <label class="font-semibold">
                            Staff Photo
                        </label>                        
                        <input id="photo-input" type="file" class="rounded-md w-full" multiple accept="image/*" name="List_Photo"  />
                        <input type="hidden" name="photo_order" id="photo-order">
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <label class="font-semibold">
                            Staff Videos
                        </label>
                        <input type="file" class="rounded-md w-full" accept="video/*" name="List_Video" id="videoInput" multiple />
                        <p id="errorMsg" class="text-red-500 mt-2" style="display: none;"></p>
                    </div>
                    <script>
                        $('#videoInput').on('change', function () {
                            const files = this.files;
                            const maxFiles = 3;
                            const errorMsg = $('#errorMsg');
                    
                            errorMsg.hide().text('');
                    
                            if (files.length > maxFiles) {
                                errorMsg.text(`Only select up to 3 videos !`).show();
                                $(this).val(''); // Reset input
                                return;
                            }
                    
                            let checked = 0;
                    
                            for (let i = 0; i < files.length; i++) {
                                const video = document.createElement('video');
                                video.preload = 'metadata';
                    
                                video.onloadedmetadata = function () {
                                    window.URL.revokeObjectURL(video.src);
                                    const duration = video.duration;
                                    if (duration > 60) {
                                        errorMsg.text(`Only post videos under 1 minute !`).show();
                                        $('#videoInput').val(''); // Reset input
                                    } else {
                                        checked++;
                                        // Khi đã kiểm hết và không lỗi, ẩn lỗi (tránh nháy)
                                        if (checked === files.length) {
                                            errorMsg.hide();
                                        }
                                    }
                                };
                    
                                video.src = URL.createObjectURL(files[i]);
                            }
                        });
                    </script>
                </div>
                <div class="flex items-center justify-center gap-2">
                    <button type="submit"
                    class="p-2 rounded-md bg-green-500 font-semibold text-sm hover:cursor-pointer w-[100px]">Update</button>

                    <span class="click_form_remove flex items-center justify-center p-2 rounded-md bg-red-500 font-semibold text-sm hover:cursor-pointer w-[100px]">Xoá</span>
                </div>
            </form>
        </div>
        <div class="hidden lg:flex flex-col gap-2 items-center justify-start h-full w-[200px] pt-[50px]">
            {% if obj_Product.Avatar %}
            <a data-fancybox="gallery-image" href="{{ obj_Product.Avatar.url }}" class="relative w-full">
                <img alt="image" src="{{ obj_Product.Avatar.url }}"  class="w-full h-[280px] object-fill" />
                <span class="absolute top-2 left-2 bg-black bg-opacity-50 p-3 text-white uppercase font-bold">Avatar</span>
            </a>
            {% endif %}
            {% for i in obj_Product.list_photo.all %}
            <a data-fancybox="gallery-image" href="{{ i.Avatar.url }}" class="w-full">
                <img alt="image" src="{{ i.Avatar.url }}"  class="w-full h-[280px] object-fill" />
            </a>
            {% endfor %}
        </div>
        <div class="form_remove  fixed  flex justify-center items-center inset-0" style="display: none;">
            <div class="w-full h-full bg-[#0e203c] opacity-50"></div>
            <form action="{% url 'product_remove_admin' %}" method="post" class="absolute m-auto text-white max-w-[400px] flex flex-col gap-3 items-center justify-center mt-2 bg-[#0e203c] rounded-md border-[1px] border-[#0e203c] p-[20px]">
                {% csrf_token %}
                <span class="text-red-500 font-bold text-[18px]">Are you sure you want to delete ?</span>
                <input type="hidden" name="uuid" value="{{obj_Product.uuid}}"  />
                <div class="flex gap-2 items-center">
                    <button type="submit"
                    class=" p-2 rounded-md bg-red-500 font-semibold text-sm hover:cursor-pointer w-[100px]">Agree</button>
                    <span 
                    class="close_form_remove flex justify-center items-center p-2 rounded-md bg-stone-500 font-semibold text-sm hover:cursor-pointer w-[100px]">Cancel</span>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#photo-input').on('change', function () {
            let filenames = [];
            let files = this.files;

            for (let i = 0; i < files.length; i++) {
                filenames.push(files[i].name);
            }

            $('#photo-order').val(JSON.stringify(filenames));
        });
    });
</script>
<script>
    $(document).ready(function(){
    $('.click_form_remove').on('click', function(){
        $('.form_remove').slideDown(); // hoặc .show() nếu không muốn hiệu ứng
    });

    $('.close_form_remove').on('click', function(){
        $('.form_remove').slideUp(); // hoặc .hide()
    });
});
</script>
<script>
    $('#large-area').on('change', function () {
        const largeAreaId = $(this).val();
        const $smallArea = $('#small-area');

        // Xóa hết option cũ
        $smallArea.empty().append('<option value="">-- Đang tải khu nhỏ --</option>');

        $.ajax({
            url: '/ajax/get-small-areas/',
            data: {
                'large_area_id': largeAreaId
            },
            dataType: 'json',
            success: function (data) {
                $smallArea.empty(); // Clear lại
                if (data.small_areas.length > 0) {
                    $.each(data.small_areas, function (index, area) {
                        $smallArea.append(
                            $('<option></option>').val(area.id).text(area.name)
                        );
                    });
                } else {
                    $smallArea.append('<option value="">Không có khu nhỏ nào</option>');
                }
            },
            error: function () {
                $smallArea.empty().append('<option value="">Lỗi khi tải</option>');
            }
        });
    });
</script>
{% endblock %}