{% extends './base.html' %}
{% block title %}Error{% endblock %}
{% block content %}
<div class="w-full min-h-screen h-full grow flex justify-center items-center">
    <div class="flex flex-col font-bold items-center justify-center gap-3 text-center">
        <p class="font-bold text-center text-red-500 text-[22px]">
            We are temporarily suspending access related to posting functions!
            <br>
            Please contact Admin to renew and regain access.
        </p>
        <a href="{% url 'contact_client' %}" target="_blank" class="px-3 py-1 rounded bg-green-500">Contact Admin</a>
    </div>
</div>
{% endblock %}